#tilfeldigHøyBall{
    position: fixed;
    height: 5vh;
    top: 80vh;
    left: 83vw;
    text-align: center;
}

#tilfeldigHøyBallBilde{
    height: 80%;
}

#tilfeldigHøyBallText{
    color: gold;
    font-size: 4vh;
}